* {
  font-family: 'Noto Serif', serif;
  /* outline: 1px solid white; */

  }

  /* variables */
:root {
  --color-primario: #3D3E3D;
  --color-secundario: #33322D;
  --color-terciario: #C4C5C4;
  --color-link: #661906;
  --color-link-hover: #F4F3ED;
  --altura-header: 75px;
  --altura-seccion: 100vh;
}
#menus {
  background-color: rgba(207, 186, 199, 0.3); 

}
/* resets */
body {
  background-color: var(--color-primario)
}
div, section, article, ul, nav {
  height: 100%;
}
a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(207, 186, 199, 0.3);
}
ul {
  list-style-type: none;
  text-decoration: none;
  background-color: rgba(207, 186, 199, 0.3);
}
h1, h2, h3, h4, h5, h6 {
  padding: 16px 0 16px 0;
}
form {
  margin-bottom: 16px;
}
.ha {
  height: auto;
}
#main,#info, #ubicacion, #participantes {
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--altura-header);
  text-align: right;
  color: var(--color-terciario);
}
/* header */
header {
  height: var(--altura-header);
  position: fixed;
  z-index: 10000;
}
figure {
  height: 100%;
  display: block;
  margin: 0;
}
figure img {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}
/* body */
#heroscreen, #info, #ubicacion {
  height: var(--altura-seccion);
}
/* heroscreen */
#heroscreen {
  position: relative;
  /* background-color: black; */
}
.heroscreen_background video {
  height: 100%;
  width: 100%;
}

.heroscreen_background {
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: absolute;
  padding: 0;
  z-index: -1;
}
/* info */
#proyecto{
  height: var(----altura-seccion);
  background-color: rgba(0, 0, 0, 0.6);
}
/*  */
/* Participantes */
#participantes {
  background-color: black;
}
.participantes_item {
  height: 250px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.participantes_item_back {
  position: absolute;
  padding: 0;
  width: 100%;
}
.participantes_item_back img {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.participantes_item_text {
  position: absolute;
  z-index: 0;

}
/* Ubucacion */
#ubicacion {
  overflow: hidden;
}
#siq {
  background-color: var(--color-terciario);
  color: black;

}
#reco {
  height: var(--altura-section);
  z-index: 10;
}
.reco_item {
  height: 250px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.reco_item_back {
  position: absolute;
  padding: 0;
  width: 100%;
}
.reco_item_back img {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
#altas {

}

.altas_item {
  height: 400px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.altas_item_back {
  position: absolute;
  padding: 0;
  width: 100%;
}
.altas_item_back img {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#map {
  background: url('../img/cruz.png') no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
}
/* footer */
footer {
  height: var(--altura-header);
}
.social {
  font-size: 2em
}
.social ul {
  padding: 0;
  margin: 0;
}
