

/* variables */
:root {
  --color-primario: #817d7d;
  --color-secundario: #262525;
  --color-link: #ff0000;
  --color-link-hover: #f00000;
  --altura-header: 75px;
  --altura-seccion: 100vh;
}
/* resets */
body {
  background-color: var(--color-primario);
}
div, section, article, ul, nav {
  height: 100%;
}
a {
  display: block;
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
  padding: 16px 0 16px 0;
}
form {
  margin-bottom: 16px;
}
.ha {
  height: auto;
}
#main,#info, #ubicacion, #participantes {
  padding-top: var(--altura-header);
}
/* header */
header {
  background: var(--color-secundario);
  height: var(--altura-header);
  position: fixed;
  z-index: 10000;
}
figure {
  height: 100%;
  display: block;
  margin: 0;
}
figure img {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}
/* body */
#heroscreen, #info, #ubicacion, #siq {
  height: var(--altura-seccion);
}
/* heroscreen */
#heroscreen {
  position: relative;
}
.heroscreen_background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  padding: 0;
  z-index: -1;

}
#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
#video_pattern {
  background:#fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* Participantes */
.participantes_item {
  height: 250px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.participantes_item_back {
  position: absolute;
  padding: 0;
  width: 100%;
}
.participantes_item_back img {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

/* Ubucacion */
#ubicacion {
  overflow: hidden;
}
#foto {
  background: url('../img/tjpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
}
#map {
  background: url('../img/tjpeg') no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
}
/* footer */
footer {
  height: var(--altura-header);
}
.social {
  font-size: 2em
}
.social ul {
  padding: 0;
  margin: 0;
}
